*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Courier New', Courier, monospace, sans-serif;
  font-size: 1.2rem;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-container .buttons {
  font-size: clamp(1.2rem, 1.6vw, 2rem);
}

.calc-container {
  border: 1px solid blue;
  width: clamp(8rem, 435px, 24rem);
  height: max(400px, 10%);
  text-align: center;
}

.calc-screen-container {
  width: 100%;
  height: clamp(20px, 100px, 10rem);
  padding: 10px;
}

.calc-screen {
  width: 100%;
  height:100%;
  border: 1px solid brown;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: clamp(1.6rem, 2.2vw, 3rem);
}

.buttons-area {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 10px 0;
}

.function-buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  align-items: flex-end;
  width: clamp(20px, 80px, 10rem);
  /* height: 100%; */
  padding: 5px 0;
}

.function.buttons, .delete {
  width: clamp(20px, 70px, 10rem);
  height: clamp(15px, 40px, 5rem);
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numbers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 /*  width: min(75%, 335px);
  height: min(80%, 400px); */
  width: clamp(10%, 335px, 20rem);
  height: clamp(20%, 400px, 25rem);
  gap: 5px;
  padding: 5px;
}

.number.buttons {
  border: 1px solid #ddd;
  width: clamp(50px, 30%, 20rem);
  height: clamp(20px, 60px, 6rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.number.buttons:hover,
.function.buttons:hover {
  cursor: pointer;
}