*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Courier New', Courier, monospace, sans-serif;
  font-size: 1.2rem;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-container .buttons {
  font-size: clamp(1.1rem, 1.5vw, 2rem);
}

.calc-container {
  background-color: rgba(161, 240, 250, 0.548);
  border: 2px solid rgb(42, 136, 165);
  width: clamp(8rem, 435px, 24rem);
  height: max(430px, 10%);
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px 1px #AAA;
}

.calc-screen-container {
  width: 100%;
  height: clamp(20px, 100px, 10rem);
  padding: 10px 24px;
  margin-top: 15px;
}

.calc-screen {
  width: 100%;
  height:100%;
  background-color: rgba(250, 144, 44, 0.37);
  border: 1px solid rgb(42, 136, 165);
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: clamp(1.9rem, 2.4vw, 3rem);
  border-radius: 3px;
  box-shadow: inset 0px 0px 3px 1px rgba(158, 76, 0, 0.623);
}

.buttons-area {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 10px 0;
}

.function-buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  width: clamp(20px, 80px, 10rem);
  padding: 5px 0;
}

.function.buttons, .delete {
  width: clamp(20px, 70px, 10rem);
  height: clamp(15px, 40px, 5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.numbers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: clamp(10%, 335px, 20rem);
  height: clamp(20%, 400px, 25rem);
  gap: 5px;
  padding: 5px;
}

.number.buttons {
  width: clamp(50px, 30%, 20rem);
  height: clamp(20px, 60px, 6rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.number.buttons:hover,
.function.buttons:hover,
.delete:hover {
  cursor: pointer;
  background-color: rgba(45, 186, 252, 0.438);
}

.buttons, .delete {
  background-color:rgba(121, 228, 255, 0.342);
  border: 1px solid rgb(42, 136, 165)
}