*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Courier New', Courier, monospace, sans-serif;
  font-size: 1.2rem;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-container {
  border: 1px solid blue;
  width: min(450px, 45%);
  height: min(470px, 70%);
  text-align: center;
  flex-shrink: 0;
}

.calc-screen-container {
  width: 100%;
  height: min(4.7em, 30%);
  padding: 10px;
}

.calc-screen {
  width: 100%;
  height:100%;
  border: 1px solid brown;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 1.6rem;
}

.buttons-area {
  display: flex;
  width: 100%;
  justify-content: center;
}

.function-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  width: min(35%, 100px);
  height: 100%;
  gap: 8.5px;
  padding: 5px 0;
}

.function.buttons {
  width: min(83px, 90%);
  height: min(4vw, 60px);
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
}

.numbers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: min(75%, 335px);
  height: min(80%, 400px);
  gap: 5px;
  padding: 5px;
}

.number.buttons {
  border: 1px solid #ddd;
  width: min(120px, 30%);
  height: min(5vw, 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.number.buttons:hover,
.function.buttons:hover {
  cursor: pointer;
}